<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CalcServlet</servlet-name>
        <servlet-class>com.alex.mavenweb1.servlets.CalcServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>CalcServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    
    <filter> 
    <filter-name>ProcessingTimeFilter</filter-name>
    <filter-class>com.alex.mavenweb1.filter.ProcessingTimeFilter</filter-class> 
    </filter> 
    <filter> 
    <filter-name>RequestInfoFilter</filter-name>
    <filter-class>com.alex.mavenweb1.filter.RequestInfoFilter</filter-class> 
    </filter>   
    
    
    <listener>
        <listener-class>com.alex.mavenweb1.listener.MyServletContextListener</listener-class>
    </listener> 
    <listener>
        <listener-class>com.alex.mavenweb1.listener.MyServletContextAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.alex.mavenweb1.listener.MyHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.alex.mavenweb1.listener.MyHttpSessionAttributeListener</listener-class>
    </listener>
    
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
